@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web');

.page-home {
  height: 100%;
  .hour-color-field {
    width: 100%;
    height: 100%;
    position: absolute;

    .minutes-color-field{
      position: relative;
      top:0;
      right:0;
      width: 100%;
      height: 35%;

      .seconds-color-field{
        position: absolute;
        top:0;
        right:0;
        width: 35%;
        height: 100%;
      }
    }
  }
  .timeValue{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    color: white;
    display: inline-block;
    padding: 7px 9px;
  }
  .display-time{
    position: absolute;
    width: 35%;
    height: 10%;
    top: 5%;
    right: -10%;
    background-color: white;
    padding: 16px 0 0 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    .clock{
      font-family: 'Titillium Web', sans-serif;
      font-weight: 100;
      font-size: 1.2em;
      color: black;
    }
  }

}
